
<section>
    
    <input [(ngModel)]="hamada" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-1/2 mx-auto mb-2 p-2.5">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for (product of products()|search:hamada ; track product.id) {
            <div class=" card border-green-400/50 rounded-md overflow-hidden shadow relative" >
              @if (!favorites()[product.id]) {
                <i (click)="toggleFavorite(product.id); addTowhishlist(product.id)" 
                   class="text-gray-600 cursor-pointer fa-solid fa-heart p-1 ms-0"></i>
                   
              }
              
              @if (favorites()[product.id]) {
                <i (click)="toggleFavorite(product.id); removefromwhishlist(product.id)" 
                   class="text-red-600 fa-solid cursor-pointer fa-heart p-1 ms-0"></i>
              } 
                <div [routerLink]="['/details',product.id]">
                  <div class="card-img">
                    <img [src]="product.imageCover" class="w-full h-[250px] object-contain" alt="" />
                  </div> 
                  <div class="card-body px-2 py-4">
                    <h4 class="text-green-700 text-xs">{{product.category.name}}</h4>
                    <h3 class="font-medium">{{product.title.split(' ',2).join(' ')}}</h3>
                    <div class="flex justify-between items-center">
                      <span>{{product.price}} EGP</span>
                      <div class="flex items-center">
                        <i class="fas fa-star text-yellow-300"></i>
                        <span class="text-gray-500">{{product.ratingsAverage}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <button 
                  (click)="addToCart(product.id)"
                  class="bg-green-700 text-white border rounded w-[90%] mx-auto block py-1">
                    Add to cart
                </button>
            </div>
        }
    </div>
</section>