<section class="mx-auto w-1/2 shadow px-3">
    <h2 class="text-center text-xl font-bold text-green-700">Check Out</h2>
    <form [formGroup]="userInfoForm" (ngSubmit)="submitForm()">
        <div class="mb-1 py-1">
            <label for="details" class="block mb-2 text-sm font-medium text-gray-900 ">Details</label>
            <textarea formControlName="details" id="details" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"></textarea>
            @if(userInfoForm.get('details')?.errors && userInfoForm.get('details')?.touched){
                <div class="flex p-4 mt-1 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if(userInfoForm.get('details')?.getError('required')){
                            <li>details is required</li>
                          }
                        </ul>
                    </div>
                </div>
            }
            
        </div>
        <div class="mb-1 py-1">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">phone</label>
            <input formControlName="phone" type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
            @if(userInfoForm.get('phone')?.errors && userInfoForm.get('phone')?.touched){
                <div class="flex p-4 mt-1 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if(userInfoForm.get('phone')?.getError('required')){
                            <li>phone is required</li>
                          }
                          @if(userInfoForm.get('phone')?.getError('pattern')){
                            <li>phone must be egyption</li>
                          }
                        </ul>
                    </div>
                </div>
            }
            
        </div>
        <div class="mb-1 py-1">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 ">city</label>
            <input formControlName="city" type="text" id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
            @if(userInfoForm.get('city')?.errors && userInfoForm.get('city')?.touched){
                <div class="flex p-4 mt-1 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if(userInfoForm.get('city')?.getError('required')){
                            <li>city is required</li>
                          }
                          
                        </ul>
                    </div>
                </div>
            }
            
        </div>
       
        <div class="d-flex justify-content-end align-items-center gap-3 ">
            <button [disabled]="userInfoForm.invalid" type="submit" class="disabled:bg-gray-600 btn-main">Check out</button>
          </div>
    </form>


</section>
